<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('../partials/header') %>
  <title>VideoShop | Startseite</title>
</head>
<body>
  <main>
    <h1>Willkommen im VideoShop</h1>
    <p>Durchsuche exklusive Videos von Creatorn</p>
    <a href="/videos">Jetzt ansehen</a>
  </main>
</body>
</html>
